@font-face {
    font-family: "Eurostile";
    src: url("fonts/eurostile/Eurostile.ttf") format("truetype");
}

.bg-light {
	background-color: #ffffff !important;
}

.navbar-brand {
	width: 110px;
}

.jumbotron {
	padding: 60px 100px;
	background-color: #ffffff;
}

.intro-image {
  	width:100%;
  	height:700px;
  	background: url('../img/intro--main.jpg');
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size:cover;
}

.section{
	padding: 60px 100px;
}

.section--products{
	background-color: #f0f2f5;
}

.container--social{
	padding: 50px 50px;
}

.container--social a{
	font-size: 14px;
	color: #9EA9BA;
	text-decoration: underline;
	padding-left: 15px;
	padding-right: 15px;
}

.container--social a:hover{
	text-decoration: none;
}

#mc_embed_signup {
	background:#36454F;
	display: inline-table;
	padding-top: 15px;
}

#mc_embed_signup p{
	padding-bottom: 25px;
}

#mc-embedded-subscribe {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
  	font-weight: 300;
  	color:#9EA9BA;
  	background-color: #36454F;
  	border-color: #9EA9BA;
  	border-radius: 2px;
}

#mce-EMAIL{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px !important;
  	font-weight: 300;
  	color:#9EA9BA;
  	background-color: #36454F;
  	border-color: #536a79;
  	border-radius: 2px;
  	border-style: solid;
  	border-width: 1px;
  	padding: 1px;
  	padding-left: 6px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  #536a79;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9EA9BA;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9EA9BA;
}

.clear{
	display: inline-block;
}

.footer {
	background-color: #36454F;
}

.footer p {
	padding-bottom: 15px;
	font-size: 14px;
  	font-weight: 300;
  	color:#536a79;
  	margin: 0;
}

.section-text {
	padding-top: 20px;
}

.section-staff{
	margin-top: 50px;
}

.superscript {
	font-size: 14px;
	color: #9EA9BA;
}

body{
 	font-family: 'Open Sans', sans-serif;  
    font-weight: 300;
    color:#36454F;
   	font-style: normal;
    font-size: 16px;
}

h1{
	font-family: 'Eurostile', sans-serif;
	font-size: 55px;
}

figcaption {
	font-weight: 400;
	font-size: 16px !important;
	color:#36454F !important;
}

figcaption p {
	font-weight: 300;
	color: #9EA9BA; !important;	
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {

h1{
	font-family: 'Eurostile', sans-serif;
	font-weight: 300;
	font-size: 30px;
}

.navbar-brand {
	width: 80px;
}

.jumbotron {
	padding: 30px 10px;
	background-color: #ffffff;
}

.intro-image {
  	width:100%;
  	height:350px;
  	background: url('../img/intro--main.jpg');
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size:cover;
}

.section{
	padding: 60px 30px;
}

.section-staff{
	margin-top: 25px;
}

.container--social{
	padding: 60px 30px;
}

.container--social a{
	font-size: 14px;
	letter-spacing: 0.1px;
	color: #9EA9BA;
	text-decoration: underline;
	padding-left: 10px;
	padding-right: 10px;
}

.container--social a:hover{
	text-decoration: none;
}

#mc_embed_signup {
	background:#36454F;
	display: inline-table;
	padding-top: 15px;
}

#mc_embed_signup p{
	padding-bottom: 25px;
}

#mc-embedded-subscribe {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
  	font-weight: 300;
  	padding: 3px 6px;
  	color:#9EA9BA;
  	background-color: #36454F;
  	border-color: #9EA9BA;
  	border-radius: 2px;
  	border-style: solid;
  	border-width: 1px;
}

#mce-EMAIL{
	font-family: 'Open Sans', sans-serif;
	max-width: 150px;
	font-size: 14px;
  	font-weight: 300;
  	color:#9EA9BA;
  	background-color: #36454F;
  	border-color: #536a79;
  	border-style: solid;
  	border-width: 1px;
  	border-radius: 2px;
  	padding: 3px 6px;
}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1599px) {

}

/* large desktops and up ----------- */
@media screen and (min-width: 1600px) {
}
