
// Eurostile Font
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=7c544ca9-600f-4e31-a22a-b10922820c29&fontids=1391130");
@font-face{
	font-family:"Eurostile LT W01 Medium1391130";
    src:url("Fonts/1391130/a74866ab-3280-4a0e-b8a9-dab3877ada03.eot?#iefix");
    src:url("Fonts/1391130/a74866ab-3280-4a0e-b8a9-dab3877ada03.eot?#iefix") format("eot"),url("Fonts/1391130/2d30f6e9-8073-4694-8597-a5fcc1fd43e0.woff2") format("woff2"),url("Fonts/1391130/a68d470e-1a6a-4fbe-9f94-78cc00d51400.woff") format("woff"),url("Fonts/1391130/93c3a4eb-3bcc-42dc-8040-73e6af2ecfbb.ttf") format("truetype");
    }


.bg-light {
	background-color: #ffffff !important;
}

.navbar-brand {
	width: 130px;
}

.jumbotron {
	padding: 6rem 2rem;
	background-color: #ffffff;
}

.intro-image {
  	width:100%;
  	height:40em;
  	background: url('../img/intro--main.jpg');
  	background-repeat: no-repeat;
  	background-position: center;
  	background-size:cover;
}

.section{
	padding: 5em 8em;
}

.section--products{
	background-color: #f0f2f5;
}

.container--social{
	padding: 3em 3em;
}

.container--social a{
	font-size: 0.8em;
	letter-spacing: 0.04em;
	color: #9EA9BA;
	text-decoration: underline;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.container--social a:hover{
	text-decoration: none;
}

#mc_embed_signup {
	background:#36454F;
	display: inline-table;
	padding-top: 15px;
}

#mc_embed_signup p{
	padding-bottom: 20px;
}

#mc-embedded-subscribe {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 0.8em;
  	font-weight: 300;
  	color:#9EA9BA;
  	background-color: #36454F;
  	border-color: #9EA9BA;
  	border-radius: 2px;
}

#mce-EMAIL{
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 0.8em !important;
  	font-weight: 300;
  	color:#9EA9BA;
  	background-color: #36454F;
  	border-color: #536a79;
  	border-radius: 2px;
  	border-style: solid;
  	border-width: 1px;
  	padding: 1px;
  	padding-left: 6px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  #536a79;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9EA9BA;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9EA9BA;
}

.clear{
	display: inline-block;
}

.footer {
	background-color: #36454F;
}

.footer p {
	padding-bottom: 0.8em;
	font-size: 0.8em;
  	font-weight: 300;
  	color:#536a79;
  	letter-spacing: 0.04em;
  	margin: 0;
}

.section-text {
	padding-top: 20px;
}

.section-staff{
	margin-top: 50px;
}

.superscript {
	font-size: 0.9em;
	color: #9EA9BA;
}

body{
 	font-family: "Helvetica Neue", Arial, sans-serif !important;   
    font-weight: 300;
    color:#36454F;
   	font-style: normal;
    font-size: 17px;
    letter-spacing: 0px; 
}

h1{
	font-family: Eurostile;
	font-size: 3.35em;
}

figcaption {
	font-weight: 400;
	font-size: 1em !important;
	color:#36454F !important;
}

figcaption p {
	font-weight: 300;
	font-size: 1em !important;
	color: #9EA9BA; !important;	
}